@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&family=Kameron:wght@400;700&family=Noto+Sans+JP:wght@300;400;500&family=Open+Sans:wght@500&family=Roboto:wght@100&family=Teko:wght@300&display=swap');

:root {
    --text-color: #2fff01;
    --primary: #f66b09;
    --secondary: #2ac3de;
    --background-color: #000000;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Fira Sans, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* フォント */
}

* { /* 全ての要素に対して */
    box-sizing: border-box; /* 要素の幅にpaddingとborderを含める */
    margin: 0;
    padding: 0;
    font-family: "Fora Code", sans-serif;
}

body {
    padding: 16px; /* 画面の端から16pxの余白 */
    background-color: var(--background-color); /* 背景色 */
    color: var(--text-color); /* テキストカラー */
    font-size: 15px; /* フォントサイズ */
    line-height: 1.6; /* 行間 */
    width: 100%;
    height: 100%; /* 画面の高さいっぱいに要素を表示 */
    display: flex; /* 画面の高さいっぱいに要素を表示 */
    justify-content: center;
    align-items: center; /* 中心に寄せる */
}


h1 {
    color: var(--primary);
    font-size: 32px;
}

/* Media responsiveness */
@media only screen and (max-width: 600px) { /* 画面幅が600px以下の場合 */
    h1 {
        font-size: 50px; /* フォントサイズを50pxにする */
    }
}

h2 {
    color: var(--primary);
}

h3 {
    margin-bottom: 10px;
}

a {
    color: var(--secondary);
}