.help { /* ヘルプボタン */
  color: var(--text-color);
}

.container {
  min-height: 100vh; /* 画面の高さいっぱいに要素を表示 */
  padding: 0 0.5rem; /* 画面の端から0.5remの余白 */
  display: flex; /* 画面の高さいっぱいに要素を表示 */
  flex-direction: column; /* 縦に並べる */
  justify-content: center; /* 中心に寄せる */
  height: 100vh; /* 画面の高さいっぱいに要素を表示 */
  max-width: 600px;
}